@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@model TestFinal.ViewModels.EditPersonalViewModel
@{
    var user = await userManager.GetUserAsync(signInManager.Context.User);
    var photoPath = "/images/" + (user.ProfilePicture ?? "image.jpg");
}
<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4" style="margin-top:100px;">
        Account settings
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="btn btn-primary" asp-action="EditPersonalData" asp-controller="Account" asp-route-id="@user.Id">
                        <i class="fas fa-edit"></i>
                        Edit
                    </a>
                </div>
              
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">

                        <div class="card-body media align-items-center">
                            <img src="@photoPath" alt="" class="d-block ui-w-80" style="width:200px;height:200px;">
                            <div class="media-body ml-4" style="width:200px;">
                            </div>
                        </div>
                        <hr class="border-light m-0">

                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" placeholder="@user.Email" value="@user.Email">
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">FirstName</label>
                                <input type="text" class="form-control" placeholder="@user.FirstName" value="@user.FirstName">
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">LastName</label>
                                <input type="text" class="form-control" placeholder="@user.LastName" value="@user.LastName">
                            </div>

                        </div>
                        
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">PhoneNumber</label>
                                <input type="text" class="form-control" placeholder="@user.NumberPhone" value="@user.NumberPhone">
                            </div>

                        </div>

                    </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
